doctype html
html

  include styles.pug
  
  body

    h1 Are you sure you want to logout?

    form(method='POST')
      if msg
        p #{msg}

      button
        a(href='/') Cancel
      button(type='submit') Logout
