doctype html
html

  link(rel='stylesheet' href='')

  body

    include nav.pug


    h1 Register New User

    form(method='POST')
      if msg
        p #{msg}

      p
        label(for='email') Email
        input#email(type='email' name='email' placeholder='Email@email.com')
      p
        label(for='password') Password
        input#password(type='password' name='password' placeholder='*********')
      p
        label(for='confirm') Confirm Password
        input#confirm(type='password' name='confirm' placeholder='*********')
      p
        button(type='submit') Register
